.sortable { list-style-type: none; margin: 0 10px; clear: both; }
.sortable li { display: inline-block; width: 20px; height: 20px; border: 1px solid #000; margin: 1px;}

.mce_container { display: block; border: solid 1px #000; overflow: auto; padding: 10px; margin-bottom: 10px; }

ul.row1, ul.row2, ul.library { background: #eee; padding: 5px; border-bottom: solid 1px #000; height: 27px; }
ul.library { background: #bbb; border: none; }
.plugin_icon { background: #fff url('../img/wpicons.png'); }

.mce_icon_bold 					{ background-position: 0 -20px; }
.mce_icon_italic 					{ background-position: -20px -20px; }
.mce_icon_bullist 				{ background-position: -40px -20px; }
.mce_icon_numlist 				{ background-position: -60px -20px; }
.mce_icon_blockquote 			{ background-position: -80px -20px; }
.mce_icon_justifyleft 			{ background-position: -100px -20px; }
.mce_icon_justifycenter 		{ background-position: -120px -20px; }
.mce_icon_justifyright 			{ background-position: -140px -20px; }
.mce_icon_link 					{ background-position: -160px -20px; }
.mce_icon_unlink 					{ background-position: -180px -20px; }
.mce_icon_wp_more 				{ background-position: -200px -20px; }
.mce_icon_spellchecker 			{ background-position: -220px -20px; }
.mce_icon_fullscreen 			{ background-position: -240px -20px; }
.mce_icon_wp_adv 					{ background-position: -260px -20px; }
.mce_icon_underline 				{ background-position: -280px -20px; }
.mce_icon_justifyfull 			{ background-position: -300px -20px; }
.mce_icon_forecolor 				{ background-position: -320px -20px; }
.mce_icon_pastetext 				{ background-position: -340px -20px; }
.mce_icon_pasteword 				{ background-position: -360px -20px; }
.mce_icon_removeformat 			{ background-position: -380px -20px; }
.mce_icon_media 					{ background-position: -400px -20px; }
.mce_icon_charmap 				{ background-position: -420px -20px; }
.mce_icon_outdent 				{ background-position: -440px -20px; }
.mce_icon_indent 					{ background-position: -460px -20px; }
.mce_icon_redo 					{ background-position: -480px -20px; }
.mce_icon_undo 					{ background-position: -500px -20px; }
.mce_icon_help 					{ background-position: -520px -20px; }
.mce_icon_strikethrough 		{ background-position: -540px -20px; }

.mce_icon_separator 				{ background-image: none; position: relative; }
.mce_icon_separator:after 		{ content: '|'; position: absolute; top: 1px; left: 7px; }

.mce_icon_formatselect 			{ width: 60px !important; background-image: none; position: relative; }
.mce_icon_formatselect:after 	{ content: 'Formats'; position: absolute; top: 1px; left: 5px; }